﻿
@{
    ViewBag.Title = "Web API training";
}
<style>
    table, tr, td, th {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }
</style>

<h2>Web API training</h2>
<hr />

<body data-ng-app="APIModule">
    <div id="tblSubs" ng-controller="APIController">

        <div class="row">
            <div class="col-md-6">
                <h3>Student List</h3>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Show Details</th>
                        <th>Delete</th>
                    </tr>
                    <tbody data-ng-repeat="student in students">
                        <tr>
                            <td>{{student.Id}}</td>
                            <td>{{student.FirstName}}</td>
                            <td>{{student.LastName}}</td>
                            <td>
                                <input type="button" id="ShowDetails" value="Show Details" data-ng-click="showDetails(student.Id)" />
                            </td>
                            <td>
                                <input type="button" id="Delete" value="Delete" data-ng-click="deleteStudent(student.Id)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" ng-if="studentDetials">
                <h3>Student Details</h3>

                <div class="row" style="margin-top: 50px;">
                    <div class="col-md-4">
                        <label>Rate</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{studentDetials.Rate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>University</label>
                    </div>
                    <div class="col-md-8">
                        <label>{{studentDetials.University}}</label>
                    </div>
                </div>

            </div>
        </div>

        <hr />

        <h3>Add new Student</h3>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="FirstNameInput" placeholder="Enter First Name" [required="string" ] data-ng-model="FirstName" />

            <label>Last Name</label>
            <input type="text" class="form-control" id="LastNameInput" placeholder="Enter Last Name" [required="string" ] data-ng-model="LastName" />

            <label>Rate</label>
            <input type="text" class="form-control" id="RateInput" placeholder="Enter Rate" data-ng-model="Rate" />

            <label>University</label>
            <input type="text" class="form-control" id="UniversityInput" placeholder="Enter University" data-ng-model="University" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="saveStudent();">Submit</button>
    </div>
</body>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/APIScripts/Module.js"></script>
<script src="~/Scripts/APIScripts/Service.js"></script>
<script src="~/Scripts/APIScripts/Controller.js"></script>



